modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run build && npm run start"]

[workflows]
runButton = "Development Server"

[[workflows.workflow]]
name = "Development Server"
author = 40017536
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev -- --port 5000 --hostname 0.0.0.0"

[[ports]]
localPort = 5000
externalPort = 80
